.image-detail {
    margin-top: 62px;
}


.image-links a {
    color: black;
}

.image-link {
    width: 100%;
    height: 250px;
}

#image-name-div {
    color: white;
    background-color: #ecd8c6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:62px;
}

#image-name-div a {
    color:#504e4d;
    text-decoration: none;
}

#image-name-div a:hover {
    text-decoration: underline;
}

#image-header {
    font-size: 25px;
    /* height: 18px; */
    color: white;
    padding: 0px;
}

.edit-delete {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.edit-delete a {
    text-decoration: none;
    color: black;
}

.edit-delete button {
    background-color: white;
    border: 1px solid black;
    border-radius:5px;
}

.edit-delete button:hover {
    transition: .2s ease-in-out;
    border: 1px solid black;
    color: black;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}

.edit-delete a {
    text-decoration: none;
}

.edit-delete a:hover {
    text-decoration: underline;
}

#info-link-a,
#image-link-a {
 padding: 0;
 margin: 0;
 /* margin-bottom: 10%;
 padding-bottom: 10%; */
}
.image-link:hover {
    transition: margin-right 2s ease-in-out;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    /* width: 255px; */
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}


#each-album {
    width: 350px;
    height: 380px;
}


.image-links {
    display: flex;
    margin: 2% 6%;
    padding: 0;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center;
    row-gap: 25px;
    column-gap: 25px;
    align-items: center;
}

#album-image-info {
    padding: 0;
}

#album-image-info a {
    text-decoration: none;
}

.image-info-alb {
    margin: 0;
}

.name-alb-detail {
    font-weight: 800;
    font-size: 20px !important;
    margin-top: 6px;
}
.username-image-alb,
.description-image-alb {
   font-weight: 200;
   font-size: 14px;
}

#ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#image {
    margin-left:25%;
    margin-right:25%;
    max-width: 1000px;
}

#edit-delete-div {
    margin-bottom: 10%;
}

#username-p-line a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid lightgray;
}

#username-p-line a:hover {
    transition: .5s ease-in-out;
    color: lightgray;
}

.comment-label,
#image-comment-header,
#image-comment-h5,
#comment-content-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-p {
    padding-bottom:15px;
    border-bottom: 1px solid lightgray;
}