.user-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 62px;
    padding-bottom: 62px;
    padding-top: 62px;
    border-bottom: 1px solid lightgray;
}

#profile-page-image {
width: 150px;
height: 150px;
border-radius: 50%;
}

.username {
    margin-left: 2%;
}

#album-select-div {
    /* display: flex; */
    margin-left: 42.5%;
    width: 300px;
    margin-top: 31px;
    margin-bottom: 31px;
    border-bottom: 1px solid lightgray;
}

.add-an-album-link {
    display: flex;
    justify-content: center;
    color:black
}

.add-an-album-link:hover {
    transition: 2s ease-in-out;
    color: lightgray;
    text-decoration: underline;
}