.user-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 62px;
    padding-bottom: 62px;
    padding-top: 62px;
    border-bottom: 1px solid lightgray;
}

#profile-page-image {
width: 150px;
height: 150px;
border-radius: 50%;
}

.username {
    margin-left: 2%;
}