.profile-left {
    width: 50%;
    border-right: 1px solid lightgray;
    margin-right: 0%;
}

.profile-right {
    margin-top: -22.5%;
    margin-left: 50%;
    width: 50%;
    border-left: 1px solid lightgray;
}

.user-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 62px;
    padding-bottom: 62px;
    padding-top: 62px;
    border-bottom: 1px solid lightgray;
}

#profile-page-image {
width: 150px;
height: 150px;
border-radius: 50%;
}

.username {
    margin-left: 2%;
}

#album-select-div {
    /* display: flex; */
    margin-left: 35%;
    width: 300px;
    margin-top: 31px;
    margin-bottom: 31px;
    border-bottom: 1px solid lightgray;
}

.add-an-album-link {
    display: flex;
    justify-content: center;
    color:black
}

.add-an-album-link:hover {
    transition: .5s ease-in-out;
    color: lightgray;
}

.article-links {
    display: flex;
    margin: 2% 6%;
    padding: 0;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    justify-content: center;
    /* row-gap: 25px; */
    /* column-gap: 25px; */
    align-items: center;
}

#each-article {
    max-width: 350px;
    height: 380px;
}

#article-link-a {
    padding: 0;
    margin: 0;
}

#article-image-info {
    padding: 0;
}

#article-image-info a {
    text-decoration: none;
}

#info-link-a {
    padding: 0;
    margin: 0;
}

.article-info {
    margin: 0;
    font-size: 12px !important;
    margin-top: 6px;
    color:black;
}

.articles-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:7.5%;
}

.articles-header a{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid lightgray;
}

.articles-header a:hover {
    transition: .5s ease-in-out;
    color: lightgray;
}