/* .product-links {
    margin-bottom: 100px;
    padding-bottom: 100px;
} */

.home-page {
    margin-bottom: 10%;
}

.home-links a {
    color: black;
    text-decoration: none;
    font-size: 6px !important;
}

.home-link {
    width: 100%;
    height: 250px;
}

.header-bg {
    z-index: -5;
    height: 350px;
    margin-top: 150px;
    width: 100%;
}

#home-page-header {
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    height:350px;
    max-width: 1920px;
    color: white;
    background-image: url(../../images/city.png);
}

#home-page-header p {
  text-shadow: 1px 1px 1px black;;
}


#album-name-div a {
    color:#504e4d;
    text-decoration: none;
}

#album-name-div a:hover {
    text-decoration: underline;
}

#home-header-title {
    display: flex;
    margin-left: 30%;
    justify-content:flex-start;
    z-index: 5;
    font-size: 50px;
    font-weight: 700;
    height: 15px;
    margin-top: 5%;
}

#home-header {
    display: flex;
    margin-left: 30%;
    justify-content:flex-start;
    z-index: 5;
    font-size: 20px;
    height: 5px;
}

#info-link-a,
#image-link-a {
 padding: 0;
 margin: 0;
 font-size: 12px;
}
.home-link:hover {
    transition: margin-right 2s ease-in-out;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    /* width: 255px; */
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}


#each-image {
    max-width: 500px;
}


.home-links {
    display: flex;
    margin: 4% 12%;
    padding: 0;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center;
    row-gap: 25px;
    column-gap: 25px;
    align-items: center;
}

#album-image-info {
    padding: 0;
}

.image-info-alb {
    margin: 0;
}

.name-alb-detail {
    font-weight: 60;
    font-size: 12px !important;
    margin-top: 6px;
}
.username-image-alb,
.description-image-alb {
   font-weight: 200;
   font-size: 14px;
}

#ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
