body {
    font-family: sans-serif;
}

.nav-bar-container {
    font-family: sans-serif;
    display: flex;
    height: 62px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    /* position: fixed ;
    top: 0;
    left: 0; */
}

.nav-bar-container a {
    text-decoration: none;
    color: gray;
}

.nav-bar-container a:hover {
    transition: .5s ease-in-out;
    color: black;
}

/* .home {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
} */

.logo {
    max-width: 50px;
}

#logout {
    border: 1px solid gray;
    border-radius:50%;
    height: 35px;
    width: 35px;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.signup {
    padding: 5px;
}

.add-photo {
    border: 1px solid gray;
    border-collapse: collapse;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.add-photo:hover {
    transition: .2s ease-in-out;
    border: 1px solid black;
    color: black;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
  }